*{
    margin:0px;
    padding:0px;
}

#player{
    background-color: rgb(255,160,0);
<<<<<<< HEAD
    background-color: rgb(255,160,0);
    
=======
>>>>>>> b1
    width: 480px;
    height: 480px;
    margin: 50px auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: column;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 25px;
}

<<<<<<< HEAD
#img{
    height: 200px;
    width: 200px;
    background-size: cover;
=======
img{
>>>>>>> b1
    border-radius: 50%;
}

section{
    display: flex;
    height:30px;
    width: 100%;
    justify-content: space-around;
}
body{
    background-color: black;
<<<<<<< HEAD
}

#vbar{
    position: relative;
    bottom: 15px;
    z-index: 2;
}
=======
}
>>>>>>> b1
