{% extends "base.html" %}
{% block title %}Login{% endblock title %}
{% block style %}
<style>
    fieldset{height: 300px;
        width: 280px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;}
    .inp{background-color: black;
        color: rgb(255,160,0);}
    #but{
        width: 280px;
        color:rgb(255,160,0);
        background-color: black;    
    }
    </style>
    {% endblock style %}
    {% block body %}
    <h1>Log In</h1>
    <hr color="green">
    <hr color="red">
    <form action="#" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            <legend>Login here</legend>
            <ul>
            {% for i in messages %}
            <li>{{i}}</li>
            {% endfor %}
            </ul>
            <h2>User Name:</h2>
            <input type="text" required name="usrname" maxlength="50" class="inp"><br>
            <h2>Password:</h2>
            <input type="password" name="pass" class="inp"><br><br>
            <input type="submit" value="submit" id="but">
        </fieldset>
    </form>
    <p>Not have an account! <a href='/register/'> Register </a></p>
    {% endblock body %}
    