{% extends "base.html" %}
{% block title %}Marks{% endblock title %}
{% block body %}
<h1>Marks</h1>
<hr color=green>
<hr color=red>
<br><br>
<table width=100% border='solid' cellpadding=10px>
    <tr> 
        <th>Name:</th>
        <td colspan=2>{{name}}</td>
    </tr>
    <tr> 
        <th>Id:</th>
        <td colspan=2>{{id}}</td>
    </tr>
    <tr> 
        <th>Course:</th>
        <td colspan=2>{{course}}</td>
    </tr>
    <tr> 
        <th >Percentage:</th>
        <td colspan=2>{{prcnt}}%</td>
    </tr>
    <tr> 
        <th >Rank:</th>
        <td colspan=2>{{rank}}</td>
    </tr>
    <tr> 
        <th>#</th>
        <th>Subject</th>
        <th>Marks</th>
    </tr>
{% for m in data %}
<tr>
    <td>{{forloop.counter}}</td>
    <td>{{m.sub_name}}</td>  
    <td>{{m.marks}}</td></tr>    
{% endfor %}
</table>  
{% endblock body %}