{% extends "base.html" %}
{% block titlse %}Student{% endblock titlse %}
{% block body%}
<h1>Students</h1>
<hr color=green>
<hr color=red>
<br><br>
<form action="#" method="get">
<input type="text" name="search" placeholder='search here' size="30" value="">
<input type="submit" value="Submit" class="btn btn-Primary">
</form>
<br><br><br><br>
<center>
    <!-- <a href="/next/{{pg}}">Next</a> -->
    {% if data.has_previous %}
    <a href="?page=1">First</a>
    <a href="?page={{data.previous_page_number}}"><<</a>
    {% endif %}
    page {{data.number}} of {{data.paginator.num_pages}} 
    {% if data.has_next %}
    <a href="?page={{data.next_page_number}}">>></a>
    <a href="?page={{data.paginator.num_pages}}">Last</a>
    {% endif %}
    </center>
<table width=100% border='solid' cellpadding=10px>
    <tr> 
        <th>#</th>
        <th>Id</th>
        <th>Name</th>
        <th>Course</th>
        <th>Age</th>
        <th>Email</th>
        <th>Address</th>
    </tr>
{% for m in data %}
<tr>
    <td>{{forloop.counter}}</td>
    <td>
        <a href='/marks/{{m.id}}'>{{m.st_id}}</a>
    </td>
    <td>{{m.st_name}}</td>  
    <td>{{m.department}}</td>
    <td>{{m.st_age}}</td>
    <td>{{m.st_email}}</td>  
    <td>{{m.st_address | truncatechars:30}}</td>
</tr>    
{% endfor %}
</table>  

{% endblock body %}
