*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #fff;
}
body{
    background-color: seagreen;
    overflow: hidden;
}
header{
    position: fixed;
    top: 0vh;
    left: 0vh;
    right: 0vh;
    padding: 20px;
    background-color: seagreen;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border: 2px solid #fff;
}
.navbar a {
    padding-right: 30px;
    font-size:18px ;
    color: #fff;
    text-decoration: none;
    margin-left: 35px;
    transition: 0.3s;
}
.logo{
    font-size: 32px;
    text-decoration:none;
    font-weight: 700;
}

.navbar a:hover,
.navbar a.active{
    color:aquamarine;
}
.main{
    background-color: aquamarine;
    filter: blur(0px);
}
.container{
    display: flex;
    height: 100vh;
    width: 200%;
}
.home{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    position: absolute;
    left: 0%;
    transition: 2s;
}
.home.inactive{
    left: 100%;
}
.home-content h1{
    font-size: 78px;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0,0,0,.3);
}
.home-content p{
    font-size:16px;
    text-align: center;
    text-shadow:0 0 10px rgba(0,0,0,.3);
    margin-bottom: 30px;
}
.home-content .start-btn{
    width: 190px;
    height: 55px;
    background-color:seagreen;
    border-radius: 10px;
    border: 2px solid white;
    outline: none;
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
}
.home-content .start-btn:hover{
    background-color: aquamarine;
    box-shadow: none;
}
.pop-info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:500px;
    background-color: seagreen;
    border-radius: 6px;
    padding: 20px;
    transition:.3s ease ;
    opacity: 0;
    pointer-events: none;
}
.pop-info .btn-grp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.pop-info .btn-grp .info-btn{
    width:20%;
    background-color: aquamarine;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: 2px solid #fff;
    text-align: center;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    cursor: pointer;
    transition: 0.3s;
}
.pop-info.active{
    opacity: 1;
    pointer-events: visible;}
.pop-info .btn-grp .info-btn:hover,
.pop-info .btn-grp .info-btn:hover{
    background-color: seagreen;
}
.main.active{
    filter: blur(10px);
    pointer-events: none;
}
.quiz-section{
    background-color: seagreen;
    width: 100%;
    display: flex;
    align-items: center;
    transition:0.8s ease;
    transition-delay: 0.25s;
    position: relative;
    left: 0; 
    /* z-index: 100; */
}

.quiz-section .quiz-box{
    position: relative;
    left: 10vh;
    width: 500px;
    background-color: aquamarine;
    border: 2px solid white;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px ;
    opacity: 0;
    pointer-events: none;
    transform: scale(.9);
}
.quiz-box.active{
    opacity: 1;
    pointer-events: all;
    transform: scale(1);
    transition:1s ease;
    transition-delay: 1s;
}

.quiz-box h1{
    font-size: 32px;
    text-align: center;
    background:linear-gradient(90deg, transparent,seagreen,transparent)
        
}
.quiz-box .quiz-header{
    display: flex;
    justify-content: space-between;
    /* line-height: 40px; */
    padding: 20px;
    font-size: 20px;
}
.quiz-box .quiz-footer{
    display: flex;
    justify-content: space-between;
    /* line-height: 40px; */
    padding: 20px;
    font-size: 20px;
}
.quiz-header .header-score{
    background-color:seagreen;
    padding: 5px;
    border-radius: 5px;
}

.option-list .option{

    width: 80%;
    padding: 12px;
    background: transparent;
    border: 2px solid rgba(0,0,0,.3);
    font-size: 17px;
    margin:15px;
    cursor: pointer;
    border-radius: 6px;
}
.option-list .option:hover{
    background-color: rgba(255,255,255,.3);
}
.next-btn{
    width: 25%;
    padding:5px;
    background-color: seagreen;
    outline: none;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s;
    pointer-events: none;
    color: rgba(255,255,255,.3);
}
.next-btn:hover{
    background-color: aquamarine;
}
.next-btn.active{
    pointer-events: all;
    color:#fff;
}

.option.correct,
.option.correct span{
    color:rgb(0,255,100);
    border-color:rgb(0,255,100);
}

.option.incorrect,
.option.incorrect span{
    color: red ;
    border-color: red;
}

.quiz-section .result-box{
    position: absolute;
    top: 50%;
    left:25%;
    transform: translate(-50%,-50%);
    width: 500px;
    border: 2px solid white;
    border-radius: 6px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
}

.result-box h2 {
    font-size: 52px;
}
.result-box .percentage-container{
    width: 300px;
    background-color:aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 20px 0 40px;
    border-radius: 6px;
    padding: 20px;
}
.percentage-container .progress-circle{
    position: relative;
    width: 250px;
    height: 250px;
    background: conic-gradient(seagreen 3.6deg,rgba(0,0,0,0.3)0deg);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    /* animation: result 3s ease-in 0.8s infinite  ; */
}
.progress-circle .progress-value{
    font-size: 45px;
    font-weight: 600;
    /* margin-top: 20px; */
    height: 80%;
    width: 80%;
    border-radius: 50%;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.btns{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btns button{
    width: 130px;
    height: 47px;
    background-color: aquamarine;
    border:2px solid white;
    outline: none;
    border-radius: 6px;

}

.btns button:hover{
    background-color: seagreen;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.result-box.active{
    opacity: 1;
    pointer-events: all;
}